@import "./mainStyle";


.fotoVeMasAlla{
    position: relative;
    margin: 60px 0 0 0 ;


}

/*COTIZACION SECTION INICIO*/
.seccionCotizacion{
    height: fit-content;
    width: 100%;
    margin: 30px 0 30px 0;
    padding: 0 30px 0 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    

    @include xsScreen(){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }      
    @include mobile(){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    @include tablet(){  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;}
    @include desktop(){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
    .cajaTextosInicio{
        @include xsScreen(){
            font-size: 8px;
        }      
        @include mobile(){
            font-size: 12px;
        }
        @include tablet(){  
            font-size: 16px;
        }
        @include desktop(){
            font-size: 18px;
        }            
        
    }
    .botonesCotizacion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-self: center;
        justify-content: space-between;
        align-items: center;
    }
        .boton01{
            @include xsScreen(){
                font-size: 6px;
                padding: 0;
            }      
            @include mobile(){
                font-size: 12px;
                padding: 10px 20px;
            }
            @include tablet(){  
                font-size: 16px;
                padding: 10px 30px;
            }
            @include desktop(){
                font-size: 18px;
                padding: 10px 30px;
            }   
        }

/*DESTACADOS*/
.destacadosInicio{
    width: 100%;
    height: fit-content;
    align-items: center;
    align-self: center;
    margin:110px 0 100px 0 ;
    padding: 0 0 0 0 ;
    display: flex;
    flex-direction: column;
}

    .subtDestacados{
        justify-content: center;
    }
        .linea{
            position: absolute;
            width: 90vw;
            border-bottom: 2px solid #000000;
            z-index: -1;
            
        }
        .textoDestacados{
            position: absolute;
            width: 150px;
            text-align: center;
            font-weight: 600 ;
            background-color: #FFFEF4;
            margin: 0 5px 0 5px;
            z-index: -1;
        }
    
    
    .carruselDestacados {
        display:flex;
        flex-wrap: wrap;
        padding: 0 30px 0 30px;
        align-items: center;
        justify-content:space-around;
        width: fit-content;
        margin: 60px 0 0 0;
        z-index: -1;
    }

    .carruselDestacados li{
        list-style:none;
        
    }
    .fotoLente{
        width: fit-content;
        margin: 10px;
    }
        .fotoLente img{
            height: 250px;
            border: 1px solid #000000;
        }

/* VALORACIONES */
.valoracionesSection{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 30px 0;
    margin: 110px 0 0 0;
    }
    .tituloValoraciones{
        display: flex;
        justify-content:center;
        align-items: center;
        z-index: -1;
    }
        .linea{
            position: absolute;
            width: 90vw;
            height: 2px;
            background-color: #222222;
        }
        .textoValoraciones{
            position: absolute;
            width: 150px;
            text-align: center;
            font-weight: 600 ;
            background-color: #FFFEF4;
            margin: 0 5px 0 5px;
        }
    
    .valoraciones{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-self: center;
        margin: 0 0 0 0;
    }
    .valoracion{
        height: 300px ;
        width: fit-content;        
        margin: 0 15px;
    }
    .valoracion img{
        height: 60px;
        position: relative;
        right:30px ;
        top: 30px;
        
    }
        .comentario {
            background-color: #faeeb1;
            border-radius: 10px;
            border: 1px solid #000000;
            width: 220px;
            font-size: 1rem;
            padding: 20px;
            overflow:hidden;
            text-align:left;            
        }
        .nombreValoracion {
            font-weight: 600;
        }

